<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration Form</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="common/header :: header"></div>
<div class="container">
    <div class="row">
        <h2 th:text="${groupName}"></h2>
    </div>
    <div class="row">
        <div>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/group/details/1/members}">Uczestnicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/group/details/1}">Szczegóły</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/group/details/1/planning}">Planowanie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/group/details/1/expenses}">Wydatki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/group/details/1/chat}">Chat</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3>Szczegóły grupy</h3>
            <div th:text="${travelGroup.name}"></div>
            <div th:text="${travelGroup.destination}"></div>
            <div th:text="${travelGroup.startDate}"></div>
            <div th:text="${travelGroup.endDate}"></div>
        </div>
        <div class="col-sm-4">
            <div id="map" style="width:200px; height: 200px; margin-left: auto; margin-right: auto"></div>
            <script th:inline="javascript">
                var map;
                function initMap() {
                    console.log('initMap');
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: -34.397, lng: 150.644},
                        zoom: 8
                    });
                }
            </script>
            <script th:inline="javascript" async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=apikey&callback=initMap"></script>


        </div>
    </div>
</div>


</body>
</html>
