.my-custom-scrollbar {
    position: relative;
    max-height: 65vh;
    min-height: 55vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.sm-custom-scrollbar {
    position: relative;
    max-height: 30rem;
    min-height: 25rem;
    overflow: auto;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #eee;
}

.main-page-title {
    font-size: 2.6em;
    -webkit-text-stroke-width: medium;
    letter-spacing: 0.25em;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
}

.main-page-sub-title {
    -webkit-text-stroke-width: thin;
    letter-spacing: 0.2em;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.question-active {
    outline: solid 0.6em deepskyblue;
    background: aliceblue;
}

.question-disabled {
    outline: solid 0.6em darkgray;
    background: lightgray;
}

.public-group-cell {
    padding: 0.5em;
    border: solid 0.2em #c3e4ff;
    background: #ffffff;
    border-radius: 0.2em;
}

.public-group-cell:visited {
    text-decoration: none;
}

.public-group-cell:link {
    text-decoration: none;
}

.public-group-cell:hover {
    text-decoration: none;
    background: #b0f4ff;
}

.public-group-cell-destination {
    color: #F6511D;
    -webkit-text-stroke-width: thin;
    letter-spacing: 0.15em;
    margin: 0.4em auto;
}

.public-group-cell-image {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    display: flex;
    margin-bottom: 1em;
}

.clamp-width {
    max-width: 1200px;
}

.nav-item {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

nav {
    -webkit-text-stroke-width: thin;
    letter-spacing: 0.1em;
}

.main-page-description {
    -webkit-text-stroke-width: thin;
    letter-spacing: 0.03em;
}

.bulletpoints {
    max-width: fit-content;
    text-align: left;
    margin: auto;
    list-style-type: none;
    /*color: #42a5f5;*/
    color: #3584c4;
    line-height: 2em;
}

.bulletpoints li:before {
    content: "\2023";
}

.invalid-feedback {
    display: block;
    font-size: 1.3em;
}

.valid-feedback {
    display: block;
    font-size: 1.3em;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1300px;
    }
}

.green {
    background-color: #54c358 !important;
}

.planning-checkbox {

}