.my-custom-scrollbar {
    position: relative;
    max-height: 65vh;
    min-height: 40vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.sm-custom-scrollbar{
    position: relative;
    max-height: 30vh;
    min-height: 10vh;
    overflow: auto;
}
